%h1 updraft.io

%p.lede markdown &rarr; PDF

= form_tag convert_path, method: :post do
  
  = text_area_tag :markdown, "# markdown is neato"
  = submit_tag 'turn this markdown into a PDF now'


%footer
  %p made by <del><a href="http://supermatter.com">supermatter</a></del> <del><a href="http://refoundry.co">refoundry</a></del> <a href="http://tonydewan.com">Tony</a>

  %p.docraptor PDF creation by <br> <a href="http://docraptor.com/"><img src="http://docraptor.com/assets/docraptor-logo-60x43-96b1a35a179c453b27bfb996ec0854d7.png" /></a>